.fl-node-c3mf97woyqdv > .fl-module-content {
    margin-bottom: 0;
  }
  .fl-module-heading {
    margin-top: 3rem;
  }
  .fl-module-content {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: vagroundedstd;
  }
  .fl-heading {
    text-align: center;
    font-size: 2.25rem;
    line-height: 1.4em;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .fl-heading-text {
    color: #f76b00;
  }
  .fl-module-heading .fl-heading {
    padding: 0 !important;
    margin: 0 !important;
  }
  @media (max-width: 544px) {
    .fl-heading-text {
      font-size: 30px;
      line-height: 1.4em;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }
  
  .fl-row,
  .fl-row-content {
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
    padding-top: 50px;
  }
  
  .fl-node-5f4783780b430 > .fl-row-content-wrap {
    background-color: #f7f7f7;
  }
  .fl-row-content-wrap {
    padding-right: 20px;
    padding-left: 20px;
  }
  .fl-row-content-wrap {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .fl-row-content-wrap {
    position: relative;
  }
  .fl-node-5f4783780b430 .fl-row-content {
    max-width: 1200px;
  }
  .fl-row,
  .fl-row-content {
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
  }
  .fl-node-5f4783780b42e {
    width: 100%;
  }
  .fl-node-5f4783780b42e {
    width: 100%;
  }
  .fl-col {
    /* float: left; */
    min-height: 1px;
  }
  .fl-col-content {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .fl-col-content {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .fl-node-5f4783780b42f > .fl-module-content {
    margin-bottom: 31px;
  }
  .fl-module-content {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .uabb-module-content.uabb-heading-wrapper {
    position: relative;
  }
  .fl-node-5f4783780b42f .uabb-heading-wrapper .uabb-heading,
  .fl-node-5f4783780b42f .uabb-heading-wrapper .uabb-heading .uabb-heading-text {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
  }
  .fl-node-5f4783780b42f .uabb-heading-wrapper .uabb-heading {
    margin-top: 0;
    margin-bottom: 3px;
  }
  .uabb-heading-align-center .uabb-heading,
  .uabb-heading-align-center .uabb-subheading,
  .uabb-heading-align-center .uabb-subheading *,
  .uabb-module-content.uabb-heading-wrapper.uabb-heading-align-center
    .uabb-background-heading-wrap {
    text-align: center;
  }
  .uabb-heading-wrapper .uabb-heading {
    padding: 0;
    margin: 0;
  }
  .uabb-module-content h1,
  .uabb-module-content h2,
  .uabb-module-content h3,
  .uabb-module-content h4,
  .uabb-module-content h5,
  .uabb-module-content h6 {
    clear: both;
  }
  .fl-node-5f4783780b42f .uabb-heading-wrapper .uabb-heading,
  .fl-node-5f4783780b42f .uabb-heading-wrapper .uabb-heading .uabb-heading-text {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .fl-module-uabb-heading .uabb-module-content.uabb-separator-parent {
    padding: 7px 0 3px;
  }
  .fl-node-5f4783780b42f .uabb-separator-parent {
    line-height: 0;
    text-align: center;
  }
  .fl-node-5f4783780b42f .uabb-separator {
    border-top: 2px solid #ffb400;
    width: 10%;
    display: inline-block;
  }
  .fl-module-uabb-heading .uabb-separator {
    max-width: 75px;
  }
  .fl-node-5f4783780b42f .uabb-text-editor.uabb-text-editor,
  .fl-node-5f4783780b42f .uabb-text-editor.uabb-text-editor p {
    font-size: 15px;
  }
  .fl-node-5f4783780b42f .uabb-subheading {
    margin-top: 15px;
    margin-bottom: 0;
  }
  .uabb-module-content
    .uabb-text-editor
    :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    line-height: inherit;
  }
  .uabb-module-content .uabb-text-editor :not(i) {
    /* font-family: inherit; */
  }
  .uabb-module-content .uabb-text-editor :not(i) {
    /* font-family: inherit; */
  }
  .fl-node-5f4783780b42c {
    width: 100%;
  }
  .fl-node-5f4783780b42d .uabb-image-carousel {
    margin: -20px;
  }
  
  element.style {
    height: 82px;
  }
  .uabb-image-carousel.slick-slider .slick-track,
  .uabb-image-carousel.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .uabb-image-carousel .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  element.style {
    height: 82px;
  }
  .uabb-image-carousel.slick-slider .slick-track,
  .uabb-image-carousel.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .uabb-image-carousel {
    position: relative;
    text-align: center;
  }
  .uabb-image-carousel .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
  .fl-node-5f4783780b42d .uabb-image-carousel-item {
    width: 20%;
    padding: 20px;
  }
  .uabb-image-carousel .slick-slide {
    height: 100%;
    min-height: 1px;
  }
  .uabb-image-carousel-item {
    float: left;
    text-align: center;
    display: none;
  }
  .fl-node-6114af4a5cbb0 > .fl-row-content-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fl-node-6114af4a5cbb0 > .fl-row-content-wrap {
    background-color: #333;
    border-style: none;
    border-width: 0;
    background-clip: border-box;
    border-color: #fff;
    border-top-width: 1px;
  }
  .fl-node-6114af4a5cbb0 .fl-row-content {
    max-width: 1087px;
  }
  .fl-node-6114af4a5cd54 {
    width: 15%;
  }
  .fl-node-6114af4a5cd55 {
    width: 68%;
    margin: auto;
  }
  .fl-node-6114af4a5cd56 .fl-photo {
    text-align: center;
  }
  .fl-node-6114af4a5cd56 .fl-photo-img,
  .fl-node-6114af4a5cd56 .fl-photo-content {
    width: 225px;
  }
  .fl-photo-content {
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
  }
  .fl-photo-content img {
    display: inline;
    height: auto;
    max-width: 100%;
  }
  .fl-node-6114af4a5cd57 > .fl-module-content {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .fl-module-content {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .fl-rich-text {
    color: #ccc;
    text-align: center;
  }
  .fl-builder-content .fl-node-6114af4a5cd57 .fl-rich-text *:not(b, strong) {
    text-align: center;
  }
  .fl-node-614018f228448 {
    width: 33.33%;
  }
  @media only screen and (max-width: 600px) {
    .fl-node-614018f228448 {
      width: 100%;
    }
    .fl-node-6114af4a5cd55 {
      width: 100%;
      margin: auto;
    }
    .fl-node-5f2b8dc13f8e3 .fl-module-content .fl-rich-text {
      color: #333;
      font-size: 11px;
    }
  }
  .fl-node-614025518d843.fl-module-heading .fl-heading {
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    color: #333333;
  }
  h5.fl-heading span {
    color: #f76b00 !important;
    margin-bottom: 0px;
    display: block;
    font-size: 23px !important;
  }
  .fl-node-6140233773ba6 .fl-menu-mobile-toggle {
    color: #c4c4c4;
    font-size: 16px;
    text-transform: none;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-color: rgba(0, 0, 0, 0.1);
  }
  .fl-node-6140233773ba6 .fl-menu-mobile-toggle {
    color: #c4c4c4;
    font-size: 16px;
    text-transform: none;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-color: rgba(0, 0, 0, 0.1);
  }
  .fl-node-6140233773ba6 .fl-menu .menu,
  .fl-node-6140233773ba6 .fl-menu .menu > li {
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }
  .fl-footer {
    display: flex;
  }
  .fl-node-614018f22844f {
    width: 33.33%;
  }
  @media only screen and (max-width: 600px) {
    .fl-node-614018f22844f {
      width: 100%;
    }
    .fl-footer {
      display: block;
    }
  }
  @media (min-width: 768px) {
    .fl-node-6140233773ba6 .fl-menu-mobile-toggle {
      display: none;
    }
  }
  .fl-node-614022a1f2c5b .fl-menu-mobile-toggle {
    color: rgba(255, 255, 255, 0.68);
    font-size: 16px;
    text-transform: none;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-color: rgba(0, 0, 0, 0.1);
  }
  .fl-menu .fl-menu-mobile-toggle {
    position: relative;
    padding: 8px;
    background-color: initial;
    border: none;
    color: #333;
    border-radius: 0;
  }
  .fl-clear {
    clear: both;
  }
  .fl-node-614022a1f2c5b .fl-menu .menu,
  .fl-node-614022a1f2c5b .fl-menu .menu > li {
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }
  .fl-menu ul,
  .fl-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .fl-node-614022a1f2c5b .fl-menu li:first-child {
    border-top: none;
  }
  .fl-menu li {
    position: relative;
  }
  li.menu-item a {
    padding: 6px;
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.68);
  }
  .fl-node-614018f22844d {
    width: 33.33%;
  }
  @media only screen and (max-width: 600px) {
    .fl-node-614018f22844d {
      width: 100%;
    }
  }
  .fl-node-61402598d4267.fl-module-heading .fl-heading {
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    color: #333333;
  }
  .fl-node-614025ba492a7.fl-module-heading .fl-heading {
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    color: #333333;
  }
  .fl-node-6140252a70299 .fl-menu-mobile-toggle {
    color: #c4c4c4;
    font-size: 16px;
    text-transform: none;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-color: rgba(0, 0, 0, 0.1);
  }
  .fl-node-6140252a70299 .fl-menu .menu,
  .fl-node-6140252a70299 .fl-menu .menu > li {
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }
  .fl-node-5f478392511b0 .fl-row-content {
    max-width: 1200px;
    padding-top: 0px;
  }
  .fl-node-5f2b8dc13f8e2 {
    width: 100%;
  }
  .fl-node-5f2b8dc13f8e3 > .fl-module-content {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .fl-node-5f2b8dc13f8e3 .fl-module-content .fl-rich-text {
    color: #333;
    font-size: 16px;
  }
  .fl-node-5f478392511b0 > .fl-row-content-wrap {
    background-color: #ffb400;
  }
  .fl-node-6114af4a5cd58 .fl-separator {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #444;
    max-width: 100%;
    margin: auto;
  }
  .fl-node-6140233773ba6 .menu > li > a:hover {
    color: #f76b00;
  }
  .fl-node-614022a1f2c5b .menu > li > a:hover {
    color: #f76b00;
  }
  .fl-node-6140252a70299 .menu > li > a:hover {
    color: #f76b00;
  }
  .fl-node-jbv53wh1ma4d > .fl-row-content-wrap {
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
  }
  .fl-row-default-height .fl-row-content-wrap,
  .fl-row-custom-height .fl-row-content-wrap {
    min-height: 0;
  }
  .fl-row-default-height .fl-row-content-wrap,
  .fl-row-custom-height .fl-row-content-wrap {
    display: flex;
  }
  .fl-row-default-height .fl-row-full-width.fl-row-content,
  .fl-row-full-height .fl-row-full-width.fl-row-content,
  .fl-row-custom-height .fl-row-full-width.fl-row-content {
    max-width: 100%;
    width: 100%;
  }
  .fl-row-default-height .fl-row-content,
  .fl-row-full-height .fl-row-content,
  .fl-row-custom-height .fl-row-content {
    flex: auto;
  }
  .fl-node-c3p2l987egni {
    width: 100%;
  }
  .fl-node-nz42obs53tgc > .fl-module-content {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .fl-node-nz42obs53tgc .uabb-heading-wrapper .uabb-heading,
  .fl-node-nz42obs53tgc .uabb-heading-wrapper .uabb-heading .uabb-heading-text {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .fl-node-nz42obs53tgc .uabb-heading-wrapper .uabb-heading {
    margin-top: 0;
    margin-bottom: 3px;
  }
  .fl-node-nz42obs53tgc .uabb-separator-parent {
    line-height: 0;
    text-align: center;
  }
  .fl-node-nz42obs53tgc .uabb-separator {
    border-top: 2px solid #ffb400;
    width: 10%;
    display: inline-block;
  }
  .fl-node-lm0a42t8cskq {
    width: 100%;
  }
  .fl-node-s5r4qcb8xi2v > .fl-module-content {
    margin-right: 0;
    margin-left: 0;
  }
  .review-slider ul.uabb-info-list-wrapper.uabb-info-list-top {
    /* width: 4700px; */
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .uabb-info-list-wrapper.uabb-info-list-top .uabb-info-list-item {
    width: 100%;
    vertical-align: top;
  }
  @keyframes marquee3 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .review-slider li.uabb-info-list-item {
    max-width: auto;
    flex: 0 0 350px;
    width: 100% !important;
    animation: marquee3 6s infinite;
    animation-timing-function: linear;
    will-change: transform;
  }
  .review-slider .uabb-info-list-wrapper:hover .uabb-info-list-item {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
  }
  .uabb-info-list .uabb-info-list-wrapper > li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .review-slider li .uabb-info-list-content-wrapper {
    background: #f7f7f7;
    box-shadow: 0 3px 12px rgb(0 0 0 / 10%);
    border: 1px solid #d5d5d5;
    margin: 0 10px;
    border-radius: 10px;
    padding: 10px 10px 80px;
  }
  .uabb-info-list-content-wrapper,
  .uabb-info-list-icon {
    position: relative;
    z-index: 5;
  }
  .uabb-info-list-wrapper.uabb-info-list-top li .uabb-info-list-icon {
    float: none;
    margin: 0 auto;
  }
  .uabb-info-list-content-wrapper.uabb-info-list-top .uabb-info-list-icon,
  .uabb-info-list-content-wrapper.uabb-info-list-top .uabb-info-list-content,
  .uabb-info-list-wrapper.uabb-info-list-top {
    display: block;
  }
  .review-slider .uabb-info-list-icon div {
    width: 100% !important;
    text-align: left !important;
    margin: 3px 3px 0px !important;
    height: 22px;
  }
  .uabb-imgicon-wrap .uabb-image {
    line-height: 0;
    position: relative;
  }
  .uabb-imgicon-wrap .uabb-image-content {
    display: inline-block;
    border-radius: 0;
    line-height: 0;
    position: relative;
    max-width: 100%;
  }
  
  .uabb-imgicon-wrap .uabb-image-content img {
    display: inline;
    height: auto !important;
    max-width: 100%;
    width: 77px;
    border-radius: inherit;
    box-shadow: none;
    box-sizing: content-box;
  }
  .fl-node-s5r4qcb8xi2v
    .uabb-info-list-wrapper.uabb-info-list-top
    li
    .uabb-info-list-connector {
    left: calc(50% + 38.5px);
    width: calc(100% - 77px);
    top: 38.5px;
  }
  .uabb-info-list-wrapper.uabb-info-list-top li .uabb-info-list-connector {
    height: 0;
    /* left: 50%; */
    margin-left: 0;
    position: absolute;
    /* width: 100%; */
  }
  .uabb-info-list-connector,
  .uabb-info-list-connector-top {
    /* height: 100%;
      position: absolute; */
    z-index: 1;
    border-width: 0 0 0 1px;
  }
  .review-slider .uabb-info-list-content {
    margin: 5px 10px 10px 10px !important;
  }
  
  .fl-node-s5r4qcb8xi2v .uabb-info-list-content .uabb-info-list-title,
  .fl-node-s5r4qcb8xi2v .uabb-info-list-content .uabb-info-list-title * {
    font-weight: 500;
    font-size: 14px;
    text-align: left;
  }
  .review-slider h3.uabb-info-list-title {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 0 20px;
    font-style: italic;
    line-height: 1.4;
    /* color: #888888; */
    color: #333333;
  }
  .review-slider h3.uabb-info-list-title > span:first-child {
    font-weight: 600;
    font-style: initial;
  }
  .review-slider h3.uabb-info-list-title span {
    display: block;
    margin: 0;
  }
  .review-slider h3.uabb-info-list-title label {
    margin-right: 5px;
  }
  .review-slider h3.uabb-info-list-title label,
  .review-slider h3.uabb-info-list-title label span {
    display: inline-block;
  }
  .fl-node-s5r4qcb8xi2v .uabb-info-list-content .uabb-info-list-description {
    font-size: 16px;
    text-align: left;
  }
  .review-slider .uabb-info-list-description {
    height: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
  }
  .review-slider h3.uabb-info-list-title label span {
    font-weight: 600 !important;
  }
  .fl-node-s5r4qcb8xi2v .info-list-icon-dynamic1 .uabb-image .uabb-photo-img {
    width: 77px;
  }
  .fl-node-nz42obs53tgc .uabb-heading-wrapper .uabb-heading .uabb-heading-text {
    color: #333333;
  }
  
  @media (min-width: 768px) {
    .fl-node-s5r4qcb8xi2v .uabb-info-list-wrapper .uabb-info-list-item {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }
  
  @media (min-width: 768px) {
    .fl-node-s5r4qcb8xi2v .uabb-info-list-wrapper.uabb-info-list-top li {
      /* width: .787%; */
      display: inline-block;
    }
  }
  
  @media (min-width: 768px) {
    .fl-node-6140252a70299 .fl-menu-mobile-toggle {
      display: none;
    }
  }
  @media (min-width: 768px) {
    .fl-node-614022a1f2c5b .fl-menu-mobile-toggle {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    .fl-node-614018f228448 {
      width: 100%;
    }
    .fl-node-6114af4a5cd55 {
      width: 100%;
      margin: auto;
    }
    .fl-node-5f2b8dc13f8e3 .fl-module-content .fl-rich-text {
      color: #333;
      font-size: 11px;
    }
    .fl-node-nz42obs53tgc .uabb-heading-wrapper .uabb-heading .uabb-heading-text {
      font-size: calc(1.325rem + 0.9vw);
    }
  }
  @media only screen and (max-width: 600px) {
    .img-carousel {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  