.f1-col{
    background-color: #ffb400;
    color: #000000;
}

.fl-module-content{

}

.fl-node-content{

}

.fl-heading{
    text-align: center;
    font-size: 2.25rem;
    line-height: 1.4em;
    font-weight: 600;
    letter-spacing: 0;
}

.fl-heading-text{

}