@media (min-width: 768px) {
    .App_container__eSJ6i {
      padding: 24px 36px 36px;
    }
  }
  
  .App_container__eSJ6i {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 24px;
  }
  
  .OverlaySpinner_root__9d42d {
    margin-top: 30px;
  }
  
  .Header_root__jsaeH {
    position: relative;
    color: #1a202c;
    font-size: 1rem;
  }
  .Stepper_root__239UF {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #1a202c;
    font-size: 1rem;
  }
  
  .Stepper_link__1DEGw.Stepper_active__2FKvN {
    background: #ffb570;
    color: #1a202c;
  }
  
  .Stepper_active__2FKvN {
    padding: 0;
  }
  .Stepper_link__1DEGw.Stepper_active__2FKvN::before {
    content: none;
  }
  
  .Stepper_link__1DEGw {
    align-items: center;
    color: #1a202c !important;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
  }
  
  .Stepper_link__1DEGw.Stepper_active__2FKvN:after {
    border-left-color: #ffb570;
  }
  
  .Stepper_link__1DEGw:after {
    left: 100%;
    z-index: 2;
    border-bottom: 42px solid transparent;
    border-top: 41px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
  }
  
  .Stepper_link__1DEGw:before {
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
  }
  .Stepper_link__1DEGw:first-child {
    padding: 0;
  }
  
  .Stepper_link__1DEGw.Stepper_disabled__2LjnP {
    background: #fff5eb;
    cursor: not-allowed;
  }
  
  .Stepper_link__1DEGw.Stepper_disabled__2LjnP:after {
    border-left-color: #fff5eb;
  }
  
  .OverlaySpinner_root__9d42d {
    align-items: center;
    background: hsla(0, 0%, 100%, 0.75);
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s;
    z-index: 200;
    font-size: 1rem;
  }
  
  .OverlaySpinner_spinner__16lT6 {
    margin: 0 auto;
    text-align: center;
    width: 70px;
    color: #1a202c;
    font-family: "vagroundedstd", sans-serif;
  }
  
  .OverlaySpinner_bounce1__2VPaS {
    animation-delay: -0.32s;
    animation: OverlaySpinner_bouncedelay__1TTAr 1.4s ease-in-out infinite both;
    background-color: #f76b00;
    border-radius: 100%;
    display: inline-block;
    height: 18px;
    width: 18px;
  }
  
  .OverlaySpinner_bounce2__2gGBw {
    animation-delay: -0.16s;
    animation: OverlaySpinner_bouncedelay__1TTAr 1.4s ease-in-out infinite both;
    background-color: #f76b00;
    border-radius: 100%;
    display: inline-block;
    height: 18px;
    width: 18px;
  }
  .OverlaySpinner_bounce3__1CTh_ {
    animation: OverlaySpinner_bouncedelay__1TTAr 1.4s ease-in-out infinite both;
    background-color: #f76b00;
    border-radius: 100%;
    display: inline-block;
    height: 18px;
    width: 18px;
  }
  
  .Input_input__3rPb3 {
    appearance: none;
    background: #fff;
    border-radius: 6px;
    color: #4a5568;
    font: 400 18px/46px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    height: 46px;
    outline: 0;
    padding: 0 12px;
    transition: all 0.3s;
    width: 100%;
  }
  
  .fl-module-heading {
    margin-top: 3rem;
  }
  
  .H1_root__3WqhR.H1_center__2uPSj {
    text-align: center;
  }
  
  .H1_root__3WqhR.H1_includeBorder__3EqKH {
    border-bottom: 1px solid #cbd5e0;
    padding: 0 0 12px;
  }
  
  .PackageDetails_heading__3Q4em {
    margin: 36px 0 0 !important;
  }
  
  .H1_root__3WqhR {
    color: #1a202c;
    font: 700 26px/1 "vagroundedstd", sans-serif;
    position: relative;
  }
  
  .PackageDetails_row__2oC18 {
    display: flex;
    margin: 24px 0 0;
  }
  
  .PackageDetails_column__Ip44o:first-child {
    margin: 0;
  }
  
  .PackageDetails_column__Ip44o {
    flex: 0 0 50%;
  }
  
  .AddressInput_root__2gj61 {
    align-items: flex-start;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    position: relative;
  }
  
  .AddressInput_wrapper__3Mqp4 {
    width: 100%;
    position: relative;
  }
  
  .Input_root__2tE1E {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  
  .Input_vertical__2tLua .Input_label__3sEkI {
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  
  .Input_label__3sEkI {
    display: flex;
    margin: 0;
    width: 100%;
  }
  
  .Label_root__ppqno.Label_hasChildren__2JpWv .Label_text__1l434 {
    margin: 0 0 3px;
  }
  
  [data-fast-courier-app]
    .FastCourierApp
    .Text_root__3JPFE.Text_extraSmall__2XxKL {
    font-size: 12px;
    font-weight: 700 !important;
    line-height: 1.1 !important;
  }
  
  .Input_vertical__2tLua .Input_labelText__wKG7p {
    flex: 0 0 auto;
  }
  
  .Text_root__3JPFE.Text_brand__1wS75 {
    font-family: "vagroundedstd", sans-serif;
  }
  
  .Text_root__3JPFE.Text_grey700__3ahC_ {
    color: #4a5568;
  }
  
  .Text_root__3JPFE {
    position: relative;
    transition: all 0.3s;
  }
  
  .Input_vertical__2tLua .Input_wrapper__2xxDy {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .Input_wrapper__2xxDy {
    position: relative;
  }
  input[type="text"] {
    border: 1px solid #a0aec0 !important;
    box-shadow: none;
    margin: 0;
    vertical-align: initial;
  }
  .Input_input__3rPb3 {
    appearance: none;
    background: #fff;
  
    border-radius: 6px;
    color: #4a5568;
    font: 400 18px/46px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    height: 46px;
    outline: 0;
    padding: 0 12px;
    transition: all 0.3s;
    width: 100%;
  }
  
  .Button_root__3ros1.Button_small__1WqE1 {
    font-size: 12px;
    padding: 6px 9px;
  }
  
  .Button_root__3ros1.Button_roundedMd__LOcFV {
    border-radius: 24px;
  }
  
  .Button_root__3ros1.Button_link__Kr8EU {
    appearance: none;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
    text-align: center;
    transition: all 0.3s;
    white-space: nowrap;
    width: auto;
    background-color: initial;
    border: 0;
    color: #f76b00;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    overflow: visible;
  }
  
  button {
    background: #e6e6e6;
  }
  
  .PackageDetails_input__1tjYV {
    margin: 6px 0 0;
  }
  
  .RadioGroup_root__32eEq {
    cursor: pointer;
    position: relative;
    user-select: none;
  }
  
  body {
    font-size: 1rem;
  }
  
  .Label_root__ppqno {
    margin: 0;
    width: 100%;
    text-align: left;
  }
  
  label {
    display: inline-block;
  }
  
  .RadioGroup_root__32eEq {
    user-select: none;
  }
  
  .Text_root__3JPFE.Text_extraSmall__2XxKL {
    font-size: 12px;
    font-weight: 700 !important;
    line-height: 1.1 !important;
  }
  
  .Text_root__3JPFE.Text_brand__1wS75 {
    font-family: "vagroundedstd", sans-serif;
  }
  
  .Text_root__3JPFE.Text_grey700__3ahC_ {
    color: #4a5568;
  }
  
  .Text_root__3JPFE {
    position: relative;
    transition: all 0.3s;
  }
  
  .RadioGroup_radios__1ZEtX {
    display: flex;
    padding: 0;
    list-style: none;
  }
  
  ul {
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
  
    outline: 0;
  
    vertical-align: initial;
  }
  
  .RadioGroup_radio__H6UtF {
    flex: 0 0 auto;
    padding: 0;
  }
  
  .RadioGroup_label__3-D-w {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    margin: 0;
  }
  
  li {
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
  }
  
  .RadioGroup_input__3CYDm {
    display: none;
  }
  
  input[type="radio"] {
    padding: 0;
  }
  
  input {
    line-height: 1;
  }
  
  .RadioGroup_background__1UBlw {
    background: #fff;
    border: 1px solid #a0aec0;
    border-radius: 50%;
    flex: 0 0 18px;
    height: 18px;
    margin: 0 6px 0 0;
    position: relative;
    transition: all 0.3s;
    width: 18px;
  }
  
  .RadioGroup_label__3-D-w {
    cursor: pointer;
  }
  
  .RadioGroup_tick__OqZAo {
    background: #f76b00;
    border-radius: 50%;
    height: 12px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 2px;
    transform: scale(0.75);
    transition: all 0.1s;
    width: 12px;
  }
  
  .Text_root__3JPFE.Text_medium__1VXxL {
    font-size: 16px;
    line-height: 1.33;
  }
  
  .Text_root__3JPFE.Text_main__3xWR1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .Text_root__3JPFE.Text_weight400__1EhxD {
    font-weight: 400;
  }
  
  .Text_root__3JPFE.Text_grey700__3ahC_ {
    color: #4a5568;
  }
  
  .RadioGroup_text__1B9I9 {
    cursor: pointer;
    margin: 0;
  }
  
  .Text_root__3JPFE {
    position: relative;
    transition: all 0.3s;
  }
  
  .PackageDetails_switchLabel__2SRo1 {
    color: #4a5568;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .Input_input__3rPb3 {
    appearance: none;
    background: #fff;
    border-radius: 6px;
    color: #4a5568;
    font: 400 18px/46px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    height: 46px;
    outline: 0;
    padding: 0 12px;
    transition: all 0.3s;
    width: 100%;
  }
  
  .react-switch-handle {
    height: 16px !important;
    width: 16px !important;
    top: 2px !important;
  }
  
  .react-switch-bg {
    height: 20px !important;
  }
  
  label[for="icon-switch"] sup svg {
    margin-left: 4px;
    vertical-align: middle;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
  }
  
  .AddressInput_wrapper__3Mqp4 {
    width: 100%;
    position: relative;
  }
  
  .Label_root__ppqno.Label_hasChildren__2JpWv .Label_text__1l434 {
    margin: 0 0 3px;
  }
  
  .Input_vertical__2tLua .Input_wrapper__2xxDy {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .PackageDetails_inputExtra__W6H0Y {
    margin: 32px 0 0;
  }
  
  .RadioGroup_root__32eEq {
    cursor: pointer;
    position: relative;
    user-select: none;
  }
  
  .react-switch-bg {
    height: 20px !important;
  }
  
  .H1_root__3WqhR.H1_center__2uPSj {
    text-align: center;
    margin-top: 0px;
  }
  
  .H1_root__3WqhR.H1_includeBorder__3EqKH {
    border-bottom: 1px solid #cbd5e0;
    padding: 0 0 12px;
  }
  
  .PackageDetails_packageDetails__2_a5m {
    margin: 60px 0 0;
  }
  
  .H1_root__3WqhR {
    color: #1a202c;
    font: 700 26px/1 "vagroundedstd", sans-serif;
    position: relative;
  }
  
  .PackageDetails_items__2qrwy {
    margin: 12px 0 0;
  }
  
  .PackageDetails_item__2IvtG {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px 0;
  }
  
  .PackageDetails_itemRow__1sn2N {
    flex-wrap: nowrap;
    display: flex;
  }
  
  .PackageDetails_cell__2fWDE {
    position: relative;
  }
  
  .PackageDetails_simpleInput__3twje {
    margin-top: 2px;
  }
  
  .Select_root__1iRSF {
    display: flex;
    margin: 0;
  }
  
  .Label_root__ppqno {
    margin: 0;
    width: 100%;
    text-align: left;
  }
  
  .Text_root__3JPFE.Text_grey700__3ahC_ {
    color: #4a5568;
  }
  
  .Text_root__3JPFE {
    position: relative;
    transition: all 0.3s;
  }
  
  .Select_root__1iRSF select {
    appearance: none;
    background: #fff;
  
    border-radius: 6px;
    color: #4a5568;
    font: 400 18px/46px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    height: 46px;
    outline: 0;
    padding: 0 12px;
    text-align: left;
    width: 100%;
  }
  
  select {
    border: 1px solid #a0aec0 !important;
    box-shadow: none;
    transition: all 0.2s linear;
  }
  
  .PackageDetails_cell__2fWDE:after {
    border-right: 1px solid #cbd5e0;
    bottom: 10px;
    content: "";
    height: 26px;
    position: absolute;
    right: 0;
  }
  
  .Input_input__3rPb3 {
    appearance: none;
    background: #fff;
    border-radius: 6px;
    color: #4a5568;
    font: 400 18px/46px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    height: 46px;
    outline: 0;
    padding: 0 12px;
    transition: all 0.3s;
    width: 100%;
  }
  
  .PackageDetails_simpleInput__3twje {
    margin-top: 2px;
  }
  
  .Input_root__2tE1E {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  
  .Input_vertical__2tLua .Input_label__3sEkI {
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  .Input_label__3sEkI {
    display: flex;
    margin: 0;
    width: 100%;
  }
  
  .Input_vertical__2tLua .Input_wrapper__2xxDy {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .Input_wrapper__2xxDy {
    position: relative;
  }
  
  .InputGroup_root__3YoAC {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .InputGroup_formLabel__2RaE5 {
    margin: 0;
    padding-top: 0;
    font-size: 12px;
    font-weight: 700;
    color: #4a5568;
  }
  
  .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
  }
  
  .input-group:not(.has-validation)
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
      .form-floating
    ) {
    margin-top: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .InputGroup_formControl__27O_T {
    height: 45px;
  }
  
  .input-group > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }
  
  .form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
      .valid-feedback
    ):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-top: 0px;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .InputGroup_formSelect__2OT0I {
    position: relative;
    height: 45px;
    width: 48% !important;
    padding-left: 3px;
    border-radius: 0.375rem;
  }
  
  .PackageDetails_cell__2fWDE:after {
    border-right: 1px solid #cbd5e0;
    bottom: 10px;
    content: "";
    height: 26px;
    position: absolute;
    right: 0;
  }
  
  .Input_input__3rPb3 {
    appearance: none;
    background: #fff;
    border-radius: 6px;
    color: #4a5568;
    font: 400 18px/46px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    height: 46px !important;
    outline: 0;
    padding: 0 12px;
    transition: all 0.3s;
    width: 100%;
    border-radius: 0.375rem;
  }
  
  .Spinner_buttons__107W4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 0 0 26px;
  }
  
  .Spinner_button__1aFHF {
    appearance: none;
    background: #f76b00;
    border-radius: 50%;
    border: 0;
    box-shadow: none;
    color: #fff;
    font-size: 12px;
    height: 20px;
    padding: 0;
    transition: all 0.3s;
    width: 20px;
    margin: 6px 0 0;
    cursor: pointer;
  }
  
  .PackageDetails_cell__2fWDE:after {
    border-right: 1px solid #cbd5e0;
    bottom: 10px;
    content: "";
    height: 26px;
    position: absolute;
    right: 0;
  }
  
  .Spinner_root__3qrPN {
    display: flex;
    align-items: flex-end;
  }
  
  .PackageDetails_addToolbar__3ZsAi {
    display: flex;
    justify-content: flex-end;
    padding: 24px 0 0;
  }
  
  .Button_root__3ros1.Button_medium__3BKp8 {
    font-size: 14px;
    padding: 9px 24px;
  }
  
  .Button_root__3ros1.Button_roundedMd__LOcFV {
    border-radius: 24px;
  }
  
  .Button_root__3ros1.Button_ghost__gQzG7 {
    appearance: none;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 1.1;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    white-space: nowrap;
    width: auto;
    background-color: initial;
    border: 2px solid #f76b00;
    color: #f76b00;
  }
  
  .PackageDetails_toolbar__3ztd1 {
    border-top: 1px solid #cbd5e0;
    display: flex;
    justify-content: flex-end;
    margin: 24px 0 0;
    padding: 24px 0 0;
  }
  
  .Button_root__3ros1.Button_disabled__1f6YP {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .Button_root__3ros1.Button_large__1i_fg {
    font-size: 16px;
    padding: 9px 30px;
  }
  
  .Button_root__3ros1.Button_roundedMd__LOcFV {
    border-radius: 24px;
  }
  
  .Button_root__3ros1.Button_primary__I_9I9 {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 2px solid transparent;
    font-weight: 700;
    line-height: 1.1;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    white-space: nowrap;
    width: auto;
    background-color: #f76b00;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .Input_input__3rPb3 {
    appearance: none;
    background: #fff;
    border-radius: 6px;
    color: #4a5568;
    font: 400 18px/46px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    height: 46px;
    outline: 0;
    padding: 0 12px;
    transition: all 0.3s;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .Stepper_link__1DEGw {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(20% - 19px);
      font: 700 16px/1 "vagroundedstd", sans-serif;
      height: 84px;
      letter-spacing: 0;
      margin: 0 12px 0 0;
      width: calc(20% - 19px);
      font: 700 16px/1 "vagroundedstd", sans-serif;
      letter-spacing: 0;
    }
  
    .Stepper_disabled__2LjnP {
      padding: 0 0 0 45px;
    }
  
    .Stepper_link__1DEGw:after {
      border-left: 45px solid #ffe6cc;
      left: 100%;
      z-index: 2;
      border-bottom: 42px solid transparent;
      border-top: 41px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      top: 0;
      width: 0;
    }
  
    .Stepper_link__1DEGw:before {
      border-left: 45px solid #fff;
      left: 0;
      z-index: 1;
      border-bottom: 42px solid transparent;
      border-top: 41px solid transparent;
    }
  
    .PackageDetails_cell__2fWDE:first-child {
      padding: 0 12px 0 0 !important;
    }
  
    .PackageDetails_cell__2fWDE:last-child {
      padding: 0 0 0 12px !important;
    }
    .PackageDetails_row__2oC18 {
      flex-direction: row;
    }
  
    .PackageDetails_column__Ip44o {
      margin: 0;
    }
  
    .RadioGroup_radios__1ZEtX {
      flex-direction: row;
      margin: 15px 0 0;
    }
  
    .RadioGroup_radio__H6UtF {
      margin: 0 24px 0 0;
    }
  
    .PackageDetails_column__Ip44o {
      margin: 0 0 0 12px;
      flex: 0 0 50%;
    }
  
    .AddressInput_root__2gj61 {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
      position: relative;
    }
  
    .PackageDetails_cell__2fWDE {
      flex: 0 0 14.25%;
      padding: 0 12px;
      width: 14.25%;
    }
  
    .PackageDetails_cell__2fWDE:after {
      border-right: 1px solid #cbd5e0;
      bottom: 10px;
      content: "";
      height: 26px;
      position: absolute;
      right: 0;
    }
  }
  
  @media (max-width: 480px) {
    .App_container__eSJ6i {
      padding: 24px 12px 36px;
    }
  
    .AuthBar_root__1QyD8 {
      padding: 12px !important;
    }
    .Stepper_link__1DEGw {
      flex-basis: calc(20% - 4px);
      font: 700 10px/1 "vagroundedstd", sans-serif;
      height: 54px;
      justify-content: center;
      letter-spacing: -0.1px;
      margin: 0 3px 0 0;
      padding: 0 0 0 7px;
      position: relative;
      text-align: center;
      text-decoration: none;
      width: calc(20% - 4px);
    }
    .Stepper_link__1DEGw:first-child {
      padding: 0;
    }
    .Stepper_link__1DEGw.Stepper_disabled__2LjnP {
      background: #fff5eb;
      cursor: not-allowed;
    }
  
    .Stepper_link__1DEGw:before {
      border-left: 5px solid #fff;
      left: 0;
      z-index: 1;
      border-bottom: 27px solid transparent;
      border-top: 27px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      top: 0;
      width: 0;
      font: 700 10px/1 "vagroundedstd", sans-serif;
      letter-spacing: -0.1px;
      text-align: center;
    }
  
    .Stepper_link__1DEGw.Stepper_disabled__2LjnP:after {
      border-left-color: #fff5eb;
    }
  
    .Stepper_link__1DEGw:after {
      border-left: 5px solid #ffe6cc;
      left: 100%;
      z-index: 2;
      border-bottom: 27px solid transparent;
      border-top: 27px solid transparent;
      font: 700 10px/1 "vagroundedstd", sans-serif;
      letter-spacing: -0.1px;
      text-align: center;
    }
  
    .PackageDetails_row__2oC18 {
      display: flex;
      margin: 24px 0 0;
      flex-direction: column;
    }
  
    .PackageDetails_column__Ip44o:first-child {
      margin: 0;
    }
  
    .PackageDetails_column__Ip44o {
      flex: 0 0 50%;
    }
  
    .AddressInput_root__2gj61 {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
      position: relative;
      margin-top: 10px;
    }
  
    .Input_root__2tE1E {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  
    .Input_vertical__2tLua .Input_label__3sEkI {
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
    }
  
    .PackageDetails_items__2qrwy {
      margin: 12px 0 0;
    }
  
    .PackageDetails_item__2IvtG {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 12px 0;
    }
  
    .PackageDetails_itemRow__1sn2N {
      display: flex;
      flex-wrap: wrap;
    }
  
    .PackageDetails_cell__2fWDE {
      flex: 0 0 50%;
      padding: 12px 6px 0;
      width: 50%;
      position: relative;
    }
  
    .PackageDetails_simpleInput__3twje {
      margin-top: 2px;
    }
  
    /* */
  
    .PackageDetails_column__Ip44o {
      flex: 0 0 50%;
      margin: 24px 0 0;
    }
  
    .Select_root__1iRSF {
      display: flex;
      margin: 0;
    }
    label {
      display: inline-block;
    }
  
    .Label_root__ppqno {
      margin: 0;
      width: 100%;
      text-align: left;
    }
  
    .Select_root__1iRSF.Select_hasBorder__1Gpbe select {
      border: 0;
    }
  
    .PackageDetails_simpleInput__3twje {
      margin-top: 2px;
    }
  
    .Input_root__2tE1E {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    .Input_vertical__2tLua .Input_label__3sEkI {
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
    }
    .Input_label__3sEkI {
      display: flex;
      margin: 0;
      width: 100%;
    }
    .Label_root__ppqno.Label_hasChildren__2JpWv .Label_text__1l434 {
      margin: 0 0 3px;
    }
  
    .Text_root__3JPFE.Text_extraSmall__2XxKL {
      font-size: 12px;
      font-weight: 700 !important;
      line-height: 1.1 !important;
    }
  
    .Input_vertical__2tLua .Input_labelText__wKG7p {
      flex: 0 0 auto;
    }
  
    .Text_root__3JPFE {
      position: relative;
      transition: all 0.3s;
    }
  
    .Input_vertical__2tLua .Input_wrapper__2xxDy {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .Input_wrapper__2xxDy {
      position: relative;
    }
  
    .PackageDetails_input__1tjYV {
      margin: 6px 0 0;
    }
  
    .RadioGroup_root__32eEq {
      cursor: pointer;
      position: relative;
      user-select: none;
    }
  
    .RadioGroup_radios__1ZEtX {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    .RadioGroup_radio__H6UtF {
      flex: 0 0 auto;
      margin: 12px 0 0;
      padding: 0;
    }
    .RadioGroup_label__3-D-w {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      cursor: pointer;
      margin: 0;
    }
    .RadioGroup_input__3CYDm {
      display: none;
    }
    .RadioGroup_background__1UBlw {
      background: #fff;
      border: 1px solid #a0aec0;
      border-radius: 50%;
      flex: 0 0 18px;
      height: 18px;
      margin: 0 6px 0 0;
      position: relative;
      transition: all 0.3s;
      width: 18px;
    }
  
    .RadioGroup_tick__OqZAo {
      background: #f76b00;
      border-radius: 50%;
      height: 12px;
      left: 2px;
      opacity: 0;
      position: absolute;
      top: 2px;
      transform: scale(0.75);
      transition: all 0.1s;
      width: 12px;
    }
  
    .Text_root__3JPFE.Text_medium__1VXxL {
      font-size: 16px;
      line-height: 1.33;
    }
    .Text_root__3JPFE.Text_weight400__1EhxD {
      font-weight: 400;
    }
  
    .Text_root__3JPFE.Text_grey700__3ahC_ {
      color: #4a5568;
    }
  
    .InputGroup_root__3YoAC {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    .InputGroup_formLabel__2RaE5 {
      margin: 0;
      padding-top: 0;
      font-size: 12px;
      font-weight: 700;
      color: #4a5568;
      text-align: left;
    }
  
    .input-group {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;
    }
  
    .input-group:not(.has-validation)
      > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
        .form-floating
      ) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-top: 0px;
    }
  
    .InputGroup_formControl__27O_T {
      height: 45px;
    }
  
    .input-group > .form-control {
      position: relative;
      flex: 1 1 auto;
      width: 1%;
      min-width: 0;
    }
  
    .form-control {
      display: block;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      appearance: none;
      border-radius: 0.375rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  
    .input-group
      > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
        .valid-feedback
      ):not(.invalid-tooltip):not(.invalid-feedback) {
      margin-left: -1px;
      margin-top: 0px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  
    .InputGroup_formSelect__2OT0I {
      position: relative;
      height: 45px;
      width: 48% !important;
      padding-left: 3px;
      border-radius: 0.375rem;
    }
  
    .PackageDetails_cell__2fWDE:after {
      border-right: none;
    }
  }
  